<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index_style.css') }}">
    <title>Get Coordinates Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<script>
    $(window).on('load', (function () {
        $(".se-pre-con").fadeOut();
    }));

    function manipulate_data() {
        var address = $('#address').val();
        $.ajax({
            url: "/userinput",
            type: "POST",
            data: { address: address }
        }).done(function (response) {
            var html = "<br><br><br><p> <b> Here is the output: <p>";
            response = response.result;
            lat = response.latitude
            long = response.longitude
            tract = response.tract
            console.log(response)
            html += "<p> Latitude: " + lat + "<p><br>"
            html += "<p> Longitude: " + long + "<p><br>"
            html += "<p> Census Tract: " + tract + "<p><br>"
            $(".show-data").append(html);
        });
    };
</script>

<body>
    <div class="se-pre-con"></div>
    <div style="text-align: center;" id="logo">
        <img src="static/relo_logo_slogan.png">
    </div>
    <!--<img src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg" alt="city">-->

    <p>
        <img src="https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_2560%2Cc_limit/GettyImages-946087016.jpg"
            alt="city" id="city">
    <div id="cover">
        <div class="tb">
            <div class="td"><input type="text" id="address" name="address" placeholder="Enter address here" required>
            </div>
            <div class="td" id="s-cover">
                <form action="test">
                    <button type="submit" id="clicked" onclick="manipulate_data()">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!--Please enter your address: <input type="text" id="address" name="address"> <br>
    <button id="clicked" onclick="manipulate_data()">Submit</button> -->
    </p>
    <div class="se-pre-con"></div>
    <div class="show-data"></div>

    <!--<div class="show-data"> -->

    </div>
</body>



</html>